@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef2d8;
  --foreground: #171717;
  --primary: #f8bd3c;
  --secondary: #56190f;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --background: #fef2d8;
    --foreground: #171717;
    --primary: #f8bd3c;
    --secondary: #56190f;
    
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
